<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.sdu.dk/mmmi/mdsd/X21"
			class = "dk.sdu.mmmi.mdsd.x21.X21Package"
			genModel = "model/generated/X21.genmodel" />
	</extension>
</plugin>
